{% if session.user_id %}
<p>Olet kirjautunut sisään.</p>
<a href="/logout">Kirjaudu ulos</a>
<ul>
{% for topic in general_topics %}
{{ topic.subject }} <br>
<a href="/threads/{{ topic.id }}">Siirry keskustelualueelle </a>
<hr>
{% endfor %}
</ul>
<ul>
{% for topic in hidden_topics %}
{{ topic.subject }} <br>
<a href="/threads/{{ topic.id }}">Siirry piilotetulle keskustelualueelle </a>
<hr>
{% endfor %}
</ul>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<br>
<a href="/register">Rekisteröidy</a>
{% endif %}