<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

    <div class="modifyheader">
        <p>
        <h3>Muokkaa aiempaa viestiäsi</h3>
        </p>
    </div>

    <div class="modifyblock">
        <form action="/messages/modify/save" method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="message_id" value="{{ message_id }}">
            <p>
            <textarea name="modified_content" rows="10" cols="50" maxlength="600">{{ content }}</textarea>
            </p>
            <p>
            <input type="submit" value="Valmis">
            </p>
        </form>
    </div>
</body>