<form action="/register" method="post">
    Tunnus: <input type="text" name="username">
    <p>
    Salasana: <input type="password" name="password1">
    <p>
    Vahvista salasana: <input type="password" name="password2">
    <p>
    <label for="user_group">Käyttäjäryhmä: </label>
    <select name="user_group" id="user_group">
        <option value="0">Peruskäyttäjä</option>
        <option value="1">Ylläpitäjä</option>
        <option value="2">Käyttäjäryhmä 1</option>
        <option value="3">Käyttäjäryhmä 2</option>
        <option value="4">Käyttäjäryhmä 3</option>
    </select>
    <p>
    <input type="submit" value="Luo tunnus">
    </form>